# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
fastapi==0.63.0
fasteners==0.14.1
absl-py==0.11.0
aiohttp==3.6.3
appdirs==1.4.4
argon2-cffi==20.1.0
astor==0.8.1
async-timeout==3.0.1
async_generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
blinker==1.4
brotlipy==0.7.0
ca-certificates==2020.10.14
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.1.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distlib==0.3.1
docutils==0.16
entrypoints==0.3
filelock==3.0.12
future==0.18.2
gast==0.2.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
h5py==2.10.0
hdf5==1.10.4
icc_rt==2019.0.0
icu==58.2
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
importlib-resources==3.3.0
importlib_metadata==2.0.0
intel-openmp==2020.2
ipykernel==5.3.4
ipython==7.19.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
jinja2==2.11.2
joblib==0.17.0
jpeg==9b
jsonschema==3.2.0
jupyter==1.0.0
jupyter_client==6.1.7
jupyter_console==6.2.0
jupyter_core==4.6.3==py37_0
jupyterlab_pygments==0.1.2
keras==2.3.1==0
keras-applications==1.0.8
keras-base==2.3.1==py37_0
keras-preprocessing==1.1.0
kivy==1.11.1
kivy-deps-glew==0.1.12
kivy-deps-gstreamer==0.1.18
kivy-deps-sdl2==0.1.23
kivy-garden==0.1.4
kiwisolver==1.3.1
libpng==1.6.37
libprotobuf==3.13.0.1
libsodium==1.0.18
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
markdown==3.3.2
markupsafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl==2020.2
mkl-service==2.3.0
mkl_fft==1.2.0
mkl_random==1.1.1
msys2-conda-epoch==20160418
multidict==4.7.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
networkx==2.5
notebook==6.1.4
numpy==1.19.2
numpy-base==1.19.2
oauthlib==3.1.0
opencv-python==4.4.0.46
openssl==1.1.1h
opt_einsum==3.1.0
packaging==20.4
pandas==1.1.4
pandoc==2.11
pandocfilters==1.4.3
parso==0.7.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.2.4
prometheus_client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
prompt_toolkit==3.0.8
protobuf==3.13.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygments==2.7.2
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pypiwin32==223
pyqt==5.9.2
pyreadline==2.1
pyrsistent==0.17.3
pysocks==1.7.1
python==3.7.9
python-dateutil==2.8.1
pytz==2020.4
pywavelets==1.1.1
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
qt==5.9.7
qtconsole==4.7.7
qtpy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
send2trash==1.5.0
setuptools==50.3.2
sip==4.19.8
six==1.15.0
sqlite==3.33.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-base==2.1.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.1.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.25.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
vc==14.1
virtualenv==20.2.1
vs2015_runtime==14.16.27012
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==0.16.1
wheel==0.35.1
widgetsnbextension==3.5.1
win_inet_pton==1.1.0
wincertstore==0.2
winpty==0.4.3==4
wrapt==1.12.1
yaml==0.2.5
yarl==1.6.2
zeromq==4.3.2
zipp==3.4.0
zlib==1.2.11